.rootLayout {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.mainContent {
    max-width: 800px;
    width: 100%;
    flex-grow: 1;
}

.footerContent {
    text-align: center;
}